@import "tailwindcss";
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-xs: 30rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-input-bg: var(--input-bg);
  --color-pag-hover: var(--pag-hover);
}

:root {
  --radius: 0.625rem;
  --background: oklch(98.7% 0.004 248.69);
  --foreground: oklch(0 0 0);

  --card: oklch(96.2% 0.009 263.34);
  --bg-card: oklch(100% 0 0);

  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(27.5% 0.125 261.84);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(51.4% 0.055 256.25);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(59.6% 0.041 256.01);

  --pag-hover: oklch(0.9249 0 0);

  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --border-color: oklch(89.5% 0.014 263.34); /* slate-200 */

  --blue-bg: oklch(96.7% 0.023 251.39); /* blue-50 */
  --blue: oklch(54.6% 0.215 262.88); /* blue-600 */
  --blue-hover: oklch(48.8% 0.217 264.38); /* blue-700 */
  --text-blue: oklch(54.6% 0.215 262.88); /* blue-600 */

  --status-success: oklch(62.1% 0.225 142.77); /* green-600 */
  --status-delete: oklch(55.9% 0.232 27.87); /* red-600 */
  --status-edit: oklch(51.4% 0.055 256.25); /* slate-600 */

  --hover-light: oklch(98.7% 0.004 248.69); /* slate-50 */
  --hover-light-alt: oklch(100% 0 0); /* white */
  --hover-blue: oklch(96.7% 0.023 251.39); /* blue-50 */
  --hover-danger: oklch(96% 0.045 27.19); /* red-50 */

  /* --input-bg: oklch(44.7% 0.042 256.23);  */
  /* --input-text: */

  --focus-border: oklch(72.3% 0.206 248.16); /* blue-500 */
  --focus-ring: oklch(72.3% 0.206 248.16); /* blue-500 */

  /* end of addinggg */

  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.2077 0.0398 265.75);
  --foreground: oklch(1 0 0);

  --card: oklch(0.2795 0.0368 260.03); /* overshadow */
  --bg-card: oklch(0.2795 0.0368 260.03);

  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.9683 0.0069 247.9);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.7107 0.0351 256.79);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.7107 0.0351 256.79);

  /* --pag-hover: oklch(0.248 0.0264 265.29); */
  --pag-hover: oklch(0.6124 0.0083 260.73);

  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --border-color: #334155; /* slate-700 */
  --border-color-alt: #475569; /* slate-600 */

  --blue-bg: oklch(61.41% 0.165 264.8); /* blue-900/20 */
  --blue: oklch(0.5461 0.2152 262.88); /* blue-600 */

  --text-blue: oklch(76.87% 0.179 251.39); /* blue-400 */

  --status-success: oklch(82.79% 0.195 142.77); /* #4ade80 (green-400) */
  --status-delete: oklch(75.79% 0.233 27.87); /* #f87171 (red-400) */
  --status-edit: oklch(69.5% 0.1 260.89); /* #94a3b8 (slate-400) */

  --hover-dark: oklch(44.7% 0.042 256.23); /* #334155 (slate-700) */
  --hover-dark-alt: oklch(37.3% 0.034 256.94); /* #1e293b (slate-800) */
  --hover-blue: oklch(61.41% 0.165 264.8); /* rgba(30, 64, 175, 0.2) */
  --hover-danger: oklch(61.1% 0.164 26.59); /* rgba(127, 29, 29, 0.2) */

  /*  --input-bg: oklch(44.7% 0.042 256.23); #334155 (slate-700) */
  --input-bg: oklch(0.1363 0.0364 259.2);
  --input-text: oklch(94.4% 0.015 263.34); /* #f1f5f9 (slate-100) */

  --focus-border: oklch(72.29% 0.206 248.16); /* #3b82f6 (blue-500) */
  --focus-ring: oklch(72.29% 0.206 248.16); /* #3b82f6 (blue-500) */

  /* end of addinggg */

  --destructive: oklch(57.7% 0.245 27.325);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  .my-container {
    @apply max-w-[1440px] mx-auto py-5 px-4 md:px-6;
  }
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
